@charset "UTF-8";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  background-image: url(../images/wp2817045\ копія.jpeg); }

.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 100px; }

.main__info__title__img__1 {
  width: 330px;
  height: 560px;
  border-radius: 15px; }

.img__button__1__1 {
  width: 50px; }

.img__button__1__1:hover {
  opacity: 0.8;
  background-color: #FF4500;
  padding: 5px;
  border-radius: 20px; }

.main__info {
  width: 1200px;
  height: 660px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #212121;
  padding: 0 100px;
  border-radius: 15px;
  margin-left: 150px; }

.main__info__title {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.main__info__title__text {
  margin: 0 auto;
  width: 570px;
  margin-left: 100px; }

.main__info__title__text__1__span {
  font-size: 23px;
  font-weight: 500;
  color: #fff; }

.main__info__title__text__2__span {
  font-size: 40px;
  font-weight: 500;
  line-height: 24px;
  color: #fff; }

.main__info__title__text__2__span__1 {
  color: #FF4500; }

.main__info__title__text__3 {
  width: 570px; }

.main__info__title__text__3__span {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  opacity: 0.7; }

.main__info__title__text__4__span {
  color: #fff;
  font-size: 28px;
  font-weight: 500;
  line-height: 24px; }

.main__info__title__text__5 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 500px;
  line-height: 50px; }

.main__info__title__text__5__left__1,
.main__info__title__text__5__right__1 {
  color: #fff;
  font-size: 22px;
  font-weight: 500;
  opacity: 0.7; }

.main__info__title__text__5__left__1__2,
.main__info__title__text__5__right__1__2 {
  color: #fff;
  font-size: 22px;
  font-weight: 500; }

.main__info__title__text__5__right__1__2__button {
  text-decoration: none;
  color: #FF4500; }

.main__info__title__text__4 {
  padding-top: 40px; }

.main__info__title__text__5 {
  padding-top: 5px; }

.main__info__title__text__3 {
  padding-top: 10px; }

.main__info__title__text__2 {
  padding-top: 30px; }

.img__button__img {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 330px;
  width: 140px;
  background-color: #212121;
  padding: 20px 40px;
  margin-top: 320px; }

.main__nav__nav {
  background-color: #212121;
  height: 530px;
  width: 120px;
  border-radius: 15px; }

@media (max-width: 400px) {
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0; }

  body {
    background-image: url(../images/wp2817045\ копія.jpeg); }

  .main {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    margin-top: 20px; }

  .main__info__title__img__1 {
    width: 260px;
    height: 440px;
    border-radius: 15px;
    margin-top: 20px;
    margin-bottom: 30px; }

  .img__button__1__1 {
    width: 50px; }

  .img__button__1__1:hover {
    opacity: 0.8;
    background-color: #FF4500;
    padding: 5px;
    border-radius: 20px; }

  .main__info {
    width: 360px;
    height: 980px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    background-color: #212121;
    padding: 0 100px;
    border-radius: 15px;
    margin-left: 150px; }

  .main__info__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column; }

  .main__info__title__text {
    margin: 0 auto;
    width: 360px;
    margin-left: 100px; }

  .main__info__title__text__1__span {
    font-size: 16px;
    font-weight: 500;
    color: #fff; }

  .main__info__title__text__2__span {
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    color: #fff; }

  .main__info__title__text__2__span__1 {
    color: #FF4500; }

  .main__info__title__text__3 {
    width: 300px; }

  .main__info__title__text__3__span {
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    opacity: 0.7; }

  .main__info__title__text__4__span {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px; }

  .main__info__title__text__5 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    line-height: 50px; }

  .main__info__title__text__5__left__1,
  .main__info__title__text__5__right__1 {
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    opacity: 0.7; }

  .main__info__title__text__5__left__1__2,
  .main__info__title__text__5__right__1__2 {
    color: #fff;
    font-size: 15px;
    font-weight: 500; }

  .main__info__title__text__5__right__1__2__button {
    text-decoration: none;
    color: #FF4500;
    font-size: 10px; }

  .main__info__title__text__4 {
    padding-top: 40px; }

  .main__info__title__text__5 {
    padding-top: 5px; }

  .main__info__title__text__3 {
    padding-top: 10px; }

  .main__info__title__text__2 {
    padding-top: 30px; }

  .img__button {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    height: 80px;
    width: 360px;
    background-color: #212121;
    padding: 20px 40px;
    margin-left: 75px;
    margin-top: 40px;
    border-radius: 15px; }

  .main__nav {
    background-color: rgba(0, 0, 0, 0);
    height: 70px;
    width: 360px;
    border-radius: 15px; } }

/*# sourceMappingURL=style.css.map */
